name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [9, 10, 11, 12, 13, 14, 15, 16, 17-ea]

    steps:
    - uses: kamiazya/setup-graphviz@v1
    - uses: actions/checkout@v1
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -B -DperformRelease=true package --file pom.xml
